body {
  background: #ffffff;
  color: #898989;
  font-family: 'Poppins', helvetica;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.02em;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.navbar-nav {
 
    display: flex;
  
    flex-direction: column;
    padding-left: 43px;
    padding-bottom: -24px;
    padding-top: 27px;
    margin-bottom: 0;
    list-style: none;
}
a {
    padding: 10px;
    font-size: 14px;
    color: #9C27B0;
    font-weight: 600;
}
.navbar
{
	    min-height: 55px !important;
    background-color: #ffffff;
}
.text-right {
       text-align: right!important;
	    padding-top: 7px;
        margin-left: 777px;
    margin-right: 62px;
}

.navbar-brand {
    width: 88px;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    padding: 19px;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.left_arrow {
	    width: 75px;
}

.left_arrow_text {
    width: -6px;
    margin-left: 89px;
    margin-top: -54px;
}
div.down_arrow {
	    margin-left: 970px;
		 margin-top: -284px;
        background: url(arrow.png)no-repeat;
          width: 500px;
           height: 294px;
	        margin-right: -394px;
        
    font-family: 'League Gothic Regular' !important;
    font-size: 43pt; 
	}
div.yellowbox {
   background-color: yellow;
       padding: 27px 0px;
    width: 194px;
	 height: 166px;
   background-color#fcbf10;
    width: 236px;
	    margin-top: -110px;
    height: 234px;
    left: 36%;
    bottom: -70px;
    box-shadow: 0px 6px 20px;
}

.btn-outline {
    border: 2px solid #231f20;
    background-color: transparent;
    color: black;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.button {

    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
   
}
div.sec_title {
    max-width: 775px;
    margin: 0 auto 45px;
    text-align: center;
}
div.form_title {
	text-align: center;
	    margin-right: -351px;
}

.footer_bottom{
	    margin-left: 266px;
}
div.row.simple-inner{
	    padding: 64px 79px 96px -1px;
		
  

    margin-left: -82px;
    margin-right: -318px;
}


.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.office_contact_form button {
    color: #231f20;
    background: #fcbf10;
    border: 1px solid #fcbf10;
    padding: 4px 8px;
}
div.col-md-6{
    margin-left: 102px;
}
.h2,h2 {
    font: 900 26px/40px "Montserrat", sans-serif;
    color: #fcbf10;
    margin-top: 20px;
    margin-bottom: 20px;
		margin-left: -160px;
}
.cons_footer_area .footer_top {
    background: #ffc51e;
}

.form-control {
    background-color: transparent;
    border: 1px solid #999;
    border-radius: 0;
    color: #999999;
    font-size: 12px;
    font-weight: 500;
    height: 50px;
    letter-spacing: 0.1em;
    padding-left: 10px;
    margin: 0 0 25px 0;
    line-height: 14px;
    text-transform: uppercase;
	  cursor: wait;
    background: #f3eae8;
}
}
.cons_footer_area .footer_top {
    background: #fcbf10;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
	 color: #333;
	     background-color: yellowgreen;
   
}
div.absolutepos {
    position: absolute;
    bottom: 10px;
    right: 70px;
}
.h4, h4 {
    font-size: 1.5rem;
    margin: 19px 93px;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #3c1711;
}
div.overlay {
    position: absolute;
	 background-image: url("download1.jpg");
     background-repeat: no-repeat;
    top:-210px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #504c4c;
    opacity: 0.5;
    z-index: 0;
	  animation-duration: 4s;
	from {background-color: red;}
  to {background-color: yellow;}
}
div.uni { 
    width: 185px;
    margin-top: -25px;
}
div.icon{
margin-right: -46px;
    margin-top: 155px;


}
img.img-responsive {
width: 185px
}
h2.font-respo{
    margin-left: -328px;
}
div.footer_link
{
	 margin-left: 9px;
}
body {
    background: #ffffff;
    color: #898989;
    font-family: 'Poppins', helvetica;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.02em;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div.ico {
    right: auto;
    margin-right: -38px;
margin-top: -151px;
    margin-left: -172px;
}
h5.service-responsive
{
	      font-size: 13px;
    margin-left: 10px;
    margin-top: -17px;

}
div.text-right {
	 padding-top: 10px;
	 margin-left: 685px 
}
.gov_services_logo {
	width: 101px;
}