@media only screen and (max-width: 800px)
{
	.nav-menu {
	    width: max-content;
	}
	

    .h5, h5 {
    font-size: 11px;
}
div.overlay {
    position: absolute;
    background-image: url(download1.jpg);
    background-repeat: no-repeat;
    top: -210px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fffefe;
    opacity: 0;
    z-index: 0;
    animation-duration: 4s;
    }

 p.pc {
	    margin-left: -178px;
    padding: 83px;
    margin-top: -59px;
}

div.uni{
    width: 601px;
    height: 185px;
}

.left_arrow_text h3 {
    padding-top: 2%;
    right: 70px;
    font-family: 'League Gothic Regular' !important;
    font-size: 28.7pt;
    line-height: 48px;
}

div.down_arrow {
	   margin-top: 115px;
    background: url(arrow.png)no-repeat;
    width: 518px;
    height: 294px;
    margin-left: 269px;
    font-family: 'League Gothic Regular' !important;
    font-size: 43pt;
}

div.yellowbox {
    background-color: yellow;
    padding: 27px 0px;
    width: 194px;
    height: 166px;
    background-color#fcbf10: ;
    width: 443px;
    margin-top: -110px;
    height: 234px;
    left: 36%;
    bottom: -54px;
    box-shadow: 0px 6px 20px;
    margin-left: -106px;
    margin-bottom: 335px;
}
a.popup-youtube {
	
    margin-left: 95px;

}
button.btn.btn-default {
	margin-left: -183px;
}

div.ico {
    right: auto;
    margin-right: -38px;
margin-top: -151px;
    margin-left: -172px;
}
h3{
    margin-left: -150px;
}

.left_arrow_text h3 {
    padding-top: 2%;
    right: 70px;
    font-family: 'League Gothic Regular' !important;
    font-size: 28.7pt;
    line-height: 48px;
    margin-left: 13px;
}
img.img-responsive{
	
width: 436px;
    height: 163px;
	    margin-left: 69px;
}
h5.service-responsive
{
	    font-size: 22px;
    margin-left: 105px;
    margin-top: -17px;
}
.form-control {
    background-color: transparent;
    border: 1px solid #999;
    border-radius: 0;
    color: #999999;
    font-size: 12px;
    font-weight: 500;
    height: 50px;
    letter-spacing: 0.1em;
    padding-left: 10px;
    margin: 0 0 25px 0;
    line-height: 14px;
    text-transform: uppercase;
    cursor: wait;
    background: #f3eae8;
    width: 293px;
    margin-left: -248px;
}
h2.font-respo{
    margin-left: -639px;
}
button {
	    margin-left: -164px;
}
a.text-blank {
	    margin-left: -402px;
}
div.footer_link {
    margin-left: -387px;
}
div.footer_vm_block {
    margin-left: 11px;
}
div.down_arrow {
   
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    width: fit-content;
    border-block: revert;
	
    padding: 51px;

}


.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    width: 90px;
    height: 35px;
}
}
@media only screen and (max-width: 1300px) 
{
.left_arrow_text h3 {
	
    margin-left: -345px;

	
}
div.left_arrow{
	margin-left: -344px;
}

div.yellowbox {

    margin-left: -333px;
	width: 265px;
}

h3{
    margin-right: -341px;
}

div.down_arrow {
      margin-top: -708px;
    margin-left: 344px;

}
div.ico {
	  margin-top: -670px;
}
h2{
     margin-left: -459px;
}
img.img-responsive {
    width: 190px;
    height: 139px;
    margin-left: -349px;
    padding-left: 37px;
}


h5.service-responsive {
	    font-size: 8px;
    margin-left: -300px;

}
div#row2.row {

       background-color: #d1d1ca;
    margin-left: -408px;
}
h2.font-respo {
    margin-left: -355px;
}
.form-control {
    background-color: transparent;
    border: 1px solid #999;
    border-radius: 0;
    color: #999999;
    font-size: 12px;
    font-weight: 500;
    height: 59px;
    letter-spacing: 0.1em;
    padding-left: 10px;
    margin: 0 0 25px 0;
    line-height: 14px;
    text-transform: uppercase;
    cursor: wait;
    background: #f3eae8;
    width: 599px;
    margin-left: -52px;
}
button {
    margin-left: 172px;
	
}
div#row1.row {

       background-color: #d1d1ca;
    margin-left: -408px;
}
div#color1.container {
    background-color: white;
}
div.text-right {
	 padding-top: 10px;
	 margin-left: 300px 
}
}
